<div class="chat-container" [class.mobile-chat-open]="(chatState.isChatOpen$ | async) && isMobile">
  <div class="left-column" *ngIf="!isMobile || !chatOpenOnMobile">
    <div class="search-user">
      <div class="user-info">
        <div class="user-icon">👤</div>
        <div class="user-name">{{ userName }}</div>
      </div>
      <div class="search-box">
        <button type="button" (click)="searhUser()">🔍</button>
        <input
          autocomplete="off"
          name="searchUser"
          placeholder="Поиск пользователя по email"
          [(ngModel)]="searchUser"
          (keyup.enter)="searhUser()"
        />
        <div class="dropdown" *ngIf="user$ | async as user">
          <div (click)="redirect(user.UID)" class="dropdown-item">
            <div class="user-icon">👤</div>
            {{ user.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="user-list">
      <app-chat-list></app-chat-list>
    </div>
  </div>

  <div class="chat-area" *ngIf="!isMobile || chatOpenOnMobile">
    <router-outlet></router-outlet>
  </div>
</div>
