<div class="chat-list">
  <div *ngFor="let chat of chats; let i = index" class="chat-list-item" (click)="getIdChat(chat.otherUserId)">
    <div class="avatar"></div>
    <div class="chat-info">
      <div class="chat-header">
        <span class="chat-name">{{chat.otherUserName}}</span>
        <span class="status-indicator online"></span>
      </div>
      <div class="last-message">{{ chat.lastMessage.text }}</div>
      <div class="time-send">{{ chat.lastMessage.timestamp | date:'HH:mm' }}</div>
    </div>
  </div>
  <div *ngIf="chats.length == 0">
    <p>чатов еще нет, начните переписку, найдя пользователя через email</p>
  </div>
</div>
