<div class="chat-wrapper">
  <div class="chat-menu glass" *ngIf="user$ | async as user">
    <button class="back-btn" (click)="back()">←</button>
    <div class="menu-info">
      <span class="contact-name">{{ user.name }}</span>
      <span class="status">Active now</span>
    </div>
  </div>

  <div class="chat-content" #chatContent>
    <div *ngFor="let message of messages">
      <div class="message-row" [ngClass]="{
        'right': message.senderId === currentUserId,
        'left': message.senderId !== currentUserId
      }">
        <div class="avatar" *ngIf="message.senderId !== currentUserId"></div>

        <div class="message" [ngClass]="{
          'mine': message.senderId === currentUserId,
          'friend': message.senderId !== currentUserId
        }">
          {{ message.text }}
        </div>

        <div class="avatar" *ngIf="message.senderId === currentUserId"></div>
      </div>
    </div>
  </div>

  <div class="button-area glass">
    <input autocomplete="off" placeholder="Введите сообщение" [(ngModel)]="messageText" name="messageText" (keyup.enter)="sendMessage()" />
    <button class="send-btn" (click)="sendMessage()">➤</button>
  </div>
</div>
