<div class="register d-flex flex-column justify-content-center align-items-center text-center">
  <div class="glass-card p-5 rounded-4 shadow-lg">
    <h1 class="display-4 fw-bold mb-4 text-white">регистрация</h1>


    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="mb-3">
        <label for="name">Имя:</label>
        <input type="text" id="name" formControlName="name" class="form-control" placeholder="Введите имя">
        <div class="alert alert-danger" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          <div *ngIf="form.get('name')?.errors?.['required']">Это поле обязательно</div>
          <div *ngIf="form.get('name')?.errors?.['minlength']">
            Минимальная длина: {{ form.get('name')?.errors?.['minlength']?.requiredLength }} символа
          </div>
        </div>
      </div>


        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Введите email">
            <div class="alert alert-danger" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <div *ngIf="form.get('email')?.errors?.['required']">Это поле обязательно</div>
                <div *ngIf="form.get('email')?.errors?.['email']">Введите корректный email</div>
            </div>
        </div>

      <div class="mb-3">
        <label for="password">Пароль:</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Введите пароль">
        <div class="alert alert-danger" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          <div *ngIf="form.get('password')?.errors?.['required']">Это поле обязательно</div>
          <div *ngIf="form.get('password')?.errors?.['minlength']">
            Минимальная длина: {{ form.get('password')?.errors?.['minlength']?.requiredLength }} символов
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword">Подтвердите пароль:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Подтвердите пароль">
        <div class="alert alert-danger" *ngIf="formErrors.confirmPassword">{{ formErrors.confirmPassword }}</div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg px-5 glass-button" [disabled]="form.invalid">Зарегистрироваться</button>
      <a class="btn btn-outline-light btn-lg px-5 glass-button" (click)="back()">Назад</a>
    </form>


  </div>

</div>
